* {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: white;
}

.container {
  display: block;
  margin: 70px;
  color: black;
  font-size: 20px;
}

.container h1,
h2 {
  margin-left: 20px;
}

button {
  background-color: rgb(242, 246, 249);
  color: black;
  padding: 5px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

input {
  background-color: rgb(242, 246, 249);
  color: black;
  padding: 5px 5px;
  border: none;
  border-radius: 10px;
  cursor: auto;
  font-size: 20px;
}

button:hover {
  background-color: rgb(232, 236, 240);
}

input:hover {
  background-color: rgb(232, 236, 240);
}

.total {
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 35px;
}
